






.head-text{
    color: rgb(24, 69, 3);
    
}

.body-bg{
    background-image: url("");
    /* background-color: #cccccc; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
